#info ul {
  font-family: 'Do Hyeon', sans-serif;
  position: absolute;
  list-style-type: none;
  width: 956px;
  height: 163px;
  left: 570px;
  top: 130px;
  font-style: normal;
  font-weight: normal;
  font-size: 2.5vw;
  line-height: 3.125vw;
}

#name {
  font-size: 3.3333333333333335vw;
}

#SNS ul {
  margin: 0;
  padding: 0;
  position: absolute;
  list-style-type: none;
  width: 471px;
  height: 90px;
  left: 585px;
  top: 350px;
  align-items: center;
  display: flex;
}

#SNS li {
  padding: 1rem;
  margin: 0 0.5rem
}

p1 {
  width: 998px;
  height: 90px;
  left: 193px;
  top: 668px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.7vw;
  line-height: 2.34375vw;
  position: absolute;
  font-family: 'Do Hyeon', sans-serif;
  margin: 0;
  padding: 0;
  text-align: justify;
  text-justify: inter-word;
}

body {
  background-image: url("https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
  */ background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  width: 120rem;
  max-width: 100%;
  height: 67.5rem;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: hidden;
}

.circular--square {
  border-radius: 50%;
  position: absolute;
  width: 360px;
  height: 380px;
  left: 150px;
  top: 92px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
